<h1 style="font-family:serif;">Extractor Script</h1>

<i style="font-family:serif;"><font size="4">Load the dataset</font></i>

In [25]:
# Import the dataset
import pandas as pd
data = pd.read_csv('cnn_facebook_statuses.csv')

In [26]:
# Check if the data has been properly loaded into the datatframe
data.head(n=1)

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,5550296508_10155652380126509,Ellen DeGeneres was at The White House this we...,Ellen DeGeneres posts star-studded mannequin v...,video,https://www.facebook.com/cnn/videos/1015565238...,2016-11-25 10:51:16,1613,101,174,1326,146,12,127,0,3

<i style="font-family:serif;"><font size="4">Apply the date filter on the dataset</font></i>

In [27]:
# We are considering all the data after 28th August, 2016

import datetime
import time

date = datetime.datetime(2016, 8, 28)
date = date.strftime('%Y-%m-%d %H:%M:%S')
data_filtered = data[data.status_published > date]

In [28]:
# Check if the filter has been applied properly
# For this, the number of rows should have changed between data and data_filtered
# With data_filtered having lower number of rows as compared to data

print data.shape
print data_filtered.shape

(32677, 15)
(4314, 15)

<i style="font-family:serif;"><font size="4">Save the filtered file with new filename</font></i>

In [29]:
data_filtered.to_csv("cnn_facebook_statuses_filtered.csv", index=False)